.homeAnnHead::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(110, 120, 5);
    border-radius: 5%/100%;
}
.homeAnnounce{
    width: 50%;
}
.homeAnnList li{
    margin-bottom: 2rem;
}
