.abtTit::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(110, 120, 5);
    border-radius: 5%/100%;
}
.abtimg{
    background-image: url('https://imgs.search.brave.com/jYJenORZ1vlj73g6bbNTraWjAF0iMRCR9mtFLuRWJF8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9idXJz/dC5zaG9waWZ5Y2Ru/LmNvbS9waG90b3Mv/aWNlLWNyYWNrcy1v/bi1hLWZyb3plbi1z/ZWEuanBnP3dpZHRo/PTEwMDAmZm9ybWF0/PXBqcGcmZXhpZj0w/JmlwdGM9MA');
    background-size: cover;
    width: 140%;
    height: 35rem;
}